@use '../../../styles/main' as *;
@use 'sass:color';

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 2rem 2rem;
  }
}

.search-input {
  width: 100%;

  .input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
  }

  .field {
    border: 0;
    background-color: $background-secondary;
    color: $text-primary;
    padding: 1rem 3rem 1rem 1rem;
    font-family: $body-font;
    width: 100%;
    border-radius: 5rem;
    text-transform: uppercase;

    &::placeholder {
      text-transform: none;
    }

    &:focus {
      outline: none;
      border-color: $text-primary;
    }
  }

  .seen {
    position: absolute;
    right: 0.6rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: $accent-tertiary;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    font-size: 0.875rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    &:active {
      opacity: 0.7;
    }

    &.already-seen {
      background-color: $border-primary;
      color: white;
      cursor: default;

      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: 1;
      }
    }
  }
}
