@use '../../../styles/main' as *;

.sync-license-plate {
  display: flex;
  justify-content: center;
}

.license-plate {
  display: flex;
  background-color: $background-secondary;
  border-radius: 4px;
  box-shadow: rgba(102, 84, 67, 0.2) 2px 2px;
  font-family: $font-family-license-plate;
  height: 3rem;
  gap: 0.25rem;
  overflow: hidden;
  padding-right: 0.5rem;
  position: relative;
  font-size: 2.5rem;
  letter-spacing: 1px;
  max-width: 100%;

  .eu-section {
    background: #4067c9;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    text-align: center;
  }

  .stars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    position: relative;
  }

  .star {
    color: #ffff00;
    font-size: 4px;
    position: absolute;
  }

  .star:nth-child(1) {
    transform: rotate(0deg) translateY(-8px);
  }
  .star:nth-child(2) {
    transform: rotate(30deg) translateY(-8px);
  }
  .star:nth-child(3) {
    transform: rotate(60deg) translateY(-8px);
  }
  .star:nth-child(4) {
    transform: rotate(90deg) translateY(-8px);
  }
  .star:nth-child(5) {
    transform: rotate(120deg) translateY(-8px);
  }
  .star:nth-child(6) {
    transform: rotate(150deg) translateY(-8px);
  }
  .star:nth-child(7) {
    transform: rotate(180deg) translateY(-8px);
  }
  .star:nth-child(8) {
    transform: rotate(210deg) translateY(-8px);
  }
  .star:nth-child(9) {
    transform: rotate(240deg) translateY(-8px);
  }
  .star:nth-child(10) {
    transform: rotate(270deg) translateY(-8px);
  }
  .star:nth-child(11) {
    transform: rotate(300deg) translateY(-8px);
  }
  .star:nth-child(12) {
    transform: rotate(330deg) translateY(-8px);
  }

  .country {
    font-size: 1rem;
    font-family: monospace;
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.25rem;
  }

  .code {
    display: flex;
    gap: 0.1rem;
  }

  .separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.25rem;
  }

  .year-sticker {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.4rem;
    font-size: 0.4rem;
    font-family: 'Rubik';

    &[data-year='2020'],
    &[data-year='2026'] {
      background-color: #5dade2;
    }
    &[data-year='2021'],
    &[data-year='2027'] {
      background-color: #f7dc6f;
    }
    &[data-year='2022'],
    &[data-year='2028'] {
      background-color: #cd6155;
    }
    &[data-year='2023'],
    &[data-year='2029'] {
      background-color: #f1948a;
    }
    &[data-year='2024'],
    &[data-year='2030'] {
      background-color: #58d68d;
    }
    &[data-year='2025'],
    &[data-year='2031'] {
      background-color: #f39c12;
    }
  }

  .numbers {
    display: flex;
    gap: 0.1rem;
  }
}
