<div
  class="kennzeichen-item"
  [class.seen]="isSeen"
  [class.selected]="isSelected"
  (click)="onClick()"
  role="button"
  tabindex="0"
  [attr.aria-label]="
    'License plate code ' +
    kennzeichen.code +
    ' from ' +
    kennzeichen.derived_from +
    (isSeen ? ', already seen' : ', not seen yet')
  "
>
  <div class="header">
    <div class="region-section">
      <app-region-badge [federalState]="kennzeichen.federal_state" size="medium"></app-region-badge>
      <div class="region-info">
        <div class="city">{{ kennzeichen.city_district }}</div>
        <div class="state">{{ kennzeichen.federal_state }}</div>
      </div>
    </div>

    <div class="code" [innerHTML]="getHighlightedCode()"></div>
  </div>

  <div class="details">
    <div class="origin">
      <span [innerHTML]="getHighlightedOrigin()"></span>
    </div>
  </div>
</div>
