@use '../../../styles/main' as *;

.kennzeichen-list {
  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $text-secondary;
    padding: 0 1rem;
  }

  .spinner {
    width: 24px;
    height: 24px;
    border: 2px solid $background-primary;
    border-top: 2px solid $text-secondary;
    animation: spin 1s linear infinite;
    margin-bottom: 8px;
  }

  .list-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $text-secondary;
  }

  .empty-text {
  }

  .empty-hint {
    color: $text-secondary;
  }

  .results {
    width: 100%;
  }

  .groups {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .group {
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .group-heading {
    position: sticky;
    top: 15rem;
    background-color: $background-primary;
    z-index: 10;
    display: flex;
    padding-bottom: 1rem;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0 1rem 1rem;
  }

  .group-items {
    display: grid;
    gap: 1rem;
    padding: 0 1rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
