@use '../../../styles/main' as *;

.view-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  text-align: right;
  color: $accent-tertiary;
  padding: 0.5rem;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;

  &:hover {
    background: $background-primary;
    border-color: $text-primary;
  }

  &:focus {
    outline: none;
    border-color: $text-primary;
  }
}
