@use '../../../styles/main' as *;

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(800px);
  }
}

.license-plate-item {
  background: $background-secondary;
  cursor: pointer;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  border-radius: 0.25rem;
  flex-direction: column;
  box-shadow: $box-shadow 2px 2px;
  height: 100%;

  &:hover {
    border-color: $text-primary;
  }

  &.seen {
    background-color: $accent-secondary;

    .code {
      color: $text-primary;
    }

    .origin,
    .state {
      color: $seen-text-overlay;
    }

    .seen-date {
      color: $seen-text-overlay-strong;
    }

    @media (prefers-color-scheme: dark) {
      .code {
        color: #665443;
      }

      .origin,
      .state {
        color: $seen-text-overlay;
      }

      .seen-date {
        color: $seen-text-overlay-strong;
      }
    }
  }

  &.selected {
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      left: -800px;
      right: -800px;
      top: 0;
      bottom: 0;
      z-index: 0;
      background: repeating-linear-gradient(
        45deg,
        $accent-primary-selected 0,
        $accent-primary-selected 20px,
        $accent-primary-selected-light 20px,
        $accent-primary-selected-light 40px
      );
      animation: slide 20s linear infinite;
    }

    .header,
    .details {
      position: relative;
      z-index: 1;
    }

    .city,
    .origin,
    .state,
    .code {
      color: $text-primary;
    }

    .city {
      color: $selected-city;
    }
  }

  .header {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
  }

  .region-section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .region-info {
    display: flex;
    flex-direction: column;
  }

  .code {
    font-family: $font-family-license-plate;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  .seen-badge-container {
    margin-left: auto;
  }

  .seen-badge {
    background-color: $seen-badge;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
  }

  .details {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.25rem;
    justify-content: space-between;
  }

  .city {
    color: $accent-primary;
    font-weight: bold;
  }

  .origin {
    color: $text-secondary;
    text-align: right;
  }

  .seen-date {
    color: $accent-secondary;
    font-size: 0.875rem;
    font-weight: 500;
  }

  .state {
    color: $text-secondary;
  }
}
