<div class="license-plate-container">
  <div class="license-plate">
    <div class="eu-section">
      <div class="stars">
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
      </div>
      <div class="country">D</div>
    </div>

    <div class="main">
      <div class="code">
        <span *ngFor="let char of animatedChars; let i = index" [class.entered]="i < enteredText.length" [class.placeholder]="i >= enteredText.length">{{ char }}</span>
      </div>

      <div class="separator">
        <div class="year-sticker" [attr.data-year]="currentYear">{{ currentYear.toString().slice(-2) }}</div>
        <app-region-badge [federalState]="federalState" size="large"></app-region-badge>
      </div>

      <div class="numbers">
        <span *ngFor="let digit of animatedNumbers" [class.placeholder]="!hasActualNumbers">{{ digit }}</span>
      </div>
    </div>
  </div>

  <div class="region-info">
    <div class="region-name">{{ hasTopResult ? regionName : randomGreeting }}</div>
    <div class="state-name">{{ hasTopResult ? federalState : '&nbsp;' }}</div>
  </div>
</div>
